.todolist__new {
  margin-bottom: 20px;
}

.todolist__unfinished,
.todolist__finished {
  margin: 0;
  padding: 0;
  border-top: 1px dotted #ccc;
  min-height: 30px;
}

.todolist__finished {
  color: #a2a2a2;
}

.todolist__item {
  line-height: 34px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.todolist__text {
  padding-left: 10px;
}
